@font-face {src:url('/css/Dealyo.ttf'); font-family: Dealyo;}

.dealyo {font-family: Dealyo; font-size: 1em; color: rgb(224, 116, 16); padding-top: 5px;}

.dealyo a{font-family: Dealyo; font-size: 2em; color: rgb(224, 116, 16);}

.dealyo img{margin: 0px 5px 10px 0px;}



/* Add this to your main CSS file */
.fixedx-img-size {
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensures images cover the area without stretching, cropping if necessary */
    width: 100%; /* Ensures they take up the full width of their container */
}

/* Optional: Ensure service-item itself respects flex height settings if needed */
.servicex-item {
    display: flex;
    flex-direction: column;
    height: 100%; /* Important for equal height in a Bootstrap grid row */
}

.servicex-item .rounded-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.servicex-item p {
    flex-grow: 1; /* Allows text area to expand and push the button down */
}
.servicex-item .btn {
    margin-top: auto; /* Pushes the button to the bottom of the card */
}
